build/
.idea
record.txt
cmake-build*/
dependencies/*/
*_lockfile
env/
__pycache__/
*.pyc
*.so
*.vim
*.sw*
ycm_extra_conf.py
_build/
cy.sh
scrap/
.ipynb_checkpoints
.vs
CMakeSettings.json
Doxyfile.in.bak
.DS_Store
